# Credenciales de PostgreSQL local
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=marketplace_db
POSTGRES_PORT=5432

# URL de conexión para Prisma y backend local
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/marketplace_db?schema=public"
